
    

<div class="container-fluid">
  <div class="row">
    <div class="div-fondo-azul col-sm-4 col-md-4 col-lg-6 col-xl-6">
        <h1>Nuestra Historia</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus et ab sit distinctio soluta minima placeat ipsam iusto magnam mollitia quod architecto quidem laudantium illo dolorem labore possimus, temporibus voluptatibus!</p>
    </div>
<div class="div-fondo-azul  col-sm-4 col-md-4 col-lg-6 col-xl-6">
  <div class="row  ">
    <h1>INGRESAR</h1>
    <app-ingreso></app-ingreso>
    </div>
      <div class="row">
        <h1>Espacio para otra cosa</h1>
      </div>
    </div>             
  </div>
</div>

     
          