
<div class="container" >
  <div class="d-flex justify-content-center align-items-center">
  
    <form [formGroup]="user" >
      <fieldset>
        <div  class="row ">
          <div class="col-sm-8 col-md-12 col-lg-12 col-xl-12   border border-dark div-fondo-azul">
            <h1>Create User</h1>
            <div class="row my-3 mx-1">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" >
            </div>
            <div class="row my-3 mx-1">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone" formControlName="phone">
            </div>
            <div class="row my-3 mx-1">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="row my-3 mx-1">
              <label for="rol" class="form-label">Rol</label>
              <input type="text" class="form-control" id="rol" formControlName="rol">
            </div>
            <div class="row my-3 mx-1">
                <button type="button"  class="btn btn-primary" (click)="save(user)">SAVE</button>
            </div> 
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
